<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %> 

<body>

  <%- include("../partials/header") %> 
  <main class="cart">
    <section id="cart-items">
      <% if (cart && cart.length > 0) { %>
        <% cart.forEach((item, idx) => { %>
          <div class="cart-item" data-id="<%= item.id %>">
            <img src="<%= item.imagen %>" alt="<%= item.nombre %>">
            <div class="item-details">
              <h3><%= item.nombre %></h3>
              <% if (item.descuento && item.descuento > 0) { 
                const descuentoValor = Math.round(item.precio * item.descuento / 100); 
              %>
                <p>¡Comprando con el <%= item.descuento %>% OFF estas ahorrando $<%= descuentoValor %>!</p>
              <% } %>
              <span class="item-price">$<%= item.precio.toFixed(2) %></span>
            </div>
            <form action="/cart/remove/<%= item.id %>" method="POST" style="display:inline;">
              <button class="remove-button" type="submit">Remover</button>
            </form>
          </div>
        <% }) %>
      <% } else { %>
        <p class="empty-cart">No tienes juegos en tu carrito.</p>
      <% } %>
    </section>
    <div class="total">
      <div id="cart-total">
        <h2>Total:</h2>
        <% 
          let total = 0;
          if (cart && cart.length > 0) {
            cart.forEach(item => {
              total += item.precio;
            });
          }
        %>
        <span id="total-amount">
          $<%= total.toFixed(2) %>
        </span>
        <% if (cart && cart.length > 0) { %>
          <form action="/cart/checkout" method="POST" style="display:inline;">
            <button class="comprar" type="submit">Comprar</button>
          </form>
        <% } %>
      </div>
    </div>
  </main>
  <script src="/js/cart.js"></script>
  <%- include("../partials/footer") %> 
</body>

</html>