<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>
    <main>
        <section class="inicio">
            <div class="contenidoPrincipal">
                <h2 class="titulares" style="margin-top: 1.5rem;">Resultados de búsqueda para "<%= query %>"</h2>
                <div class="productos">
                    <% if (juegos.length === 0) { %>
                        <p style="margin-left: 2rem;">No se encontraron juegos.</p>
                    <% } else { %>
                        <% juegos.forEach((juego) => { %>
                            <article class="product">
                                <a href="/product/<%= juego.id %>">
                                    <img src="<%= juego.imagen %>" alt="<%= juego.nombre %>" class="producto-img">
                                    <div class="product-info"><i class="fas fa-truck"></i>
                                        <p class="precio"> $ <%= juego.precio %> </p>
                                        <h4 class="description"> <%= juego.nombre %> </h4>
                                    </div>
                                </a>
                            </article>
                        <% }) %>
                    <% } %>
                </div>
            </div>
        </section>
    </main>
    <%- include("../partials/footer") %>
</body>

</html>